@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Nunito:wght@200;400&family=Playfair+Display&display=swap');
*{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 180%;
}
body{
    margin: 0;
    background-color: #f3f1f1;
}
.hero{
    width:100%;
    height:100vh;
    background-image: url('./images/Group 1.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    animation: zoomin 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoomin{
    0%{
        transform:scale(0.5);
        visibility: visible;
    }
    100%{
        transform:scale(1);
        visibility: visible;
    }
}
nav{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}
nav p{
    width: 20%;
    cursor:pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes movedown{
    0%{
        transform:translateY(-100px);
        visibility: visible;
    }
    100%{
        transform:translateY(0);
        visibility: visible;
    }
}
nav ul li a{
    text-decoration: none;
    color: #ca9d2c;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
nav ul li a:hover{
    color: red;
}
nav ul li {
    list-style-type: none;
}
nav ul {
    display: flex;
    width:40%;
    justify-content: space-around;
}
.row{
    display: flex;
    align-items: center;
}

.welcome-section div{
    width: 50%;
}

.welcome-section{
    width: 82%;
    margin: auto;
    margin-top: 10vh;
}
.welcome-section span{
    color: #FDC435;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    animation: movedown 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.welcome-section h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 66px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    animation: movedown 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.welcome-section p {
    color: #828282;
    font-family: 'Nunito', sans-serif;
    animation: moveright 1s linear 1;
    animation-delay: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveright{
    0%{
        transform:translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.welcome-section button{
    border-radius: 8px;
    border: none;
    width: 115px;
    height: 43px;
    margin-right: 20px;
}
.yellow-btn{
    background: #FDC435;
       color: #fff;
       z-index: 1;
}
     
     .yellow-btn:after {
       position: absolute;
       content: "";
       width: 0;
       height: 100%;
       top: 0;
       right: 0;
       z-index: -1;
        background: #e0e5ec;
       transition: all 0.3s ease;
     }
     .yellow-btn:hover {
       color: #000;
     }
     .yellow-btn:hover:after {
       left: 0;
       width: 100%;
     }
     .yellow-btn:active {
       top: 2px;
     }

.black-btn{
    background-color: #f3f1f1;
    border: 2px solid black !important;
    animation: movedown 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
.black-btn:hover{
    border: none;
  }
  .black-btn:before,
  .black-btn:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .black-btn:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #000;
     border-left-color: #000;
  }
  .black-btn:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #000;
     border-right-color: #000;
  }
  .black-btn:hover:before,
  .black-btn:hover:after {
    border-color: #000;
    height: 100%;
    width: 100%;
  }
.me{
    position: absolute;
    right: 50px;
    top: 100px;
    width: 400px;
}
.send-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    position: static;
    width: 89px;
    height: 43px;
    left: 311px;
    top: 402px;
    background: #FDC435;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 24px 0px;
}
.send-btn .inner {
    position: relative;
    z-index: 2;
 }
  .send-btn canvas {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    z-index: 1;
}
.send-btn::before, .send-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .send-btn:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .send-btn:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .send-btn:hover::after, .send-btn:hover::before {
    left: 96px;
    width: 64px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
footer .social_icon{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:10px 0;
        flex-wrap: wrap;
}
footer .social_icon li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .wave{
    animation: animateWave 4s linear infinite;
}
.icon-item {
    list-style: none
  }
  
  .icon-link {  
    display: inline-flex;
    font-size: 3rem;  
    text-decoration: none;  
    color: var(--color-icon);
    width: 6rem;
    height: 6rem;   
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto
  }
  
  .icon-link:hover {
    color: #fff;
  }
  
  .icon-link i {
    margin: auto;    
  }
  
  .icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  
  .icon-item:nth-child(1) a:hover:before { 
    background: var(--social-icon1); 
  }
  
  .icon-item:nth-child(2) a:hover:before { 
    background: var(--social-icon2); 
  }
  
  .icon-item:nth-child(3) a:hover:before { 
    background: var(--social-icon3); 
  }
  
  .icon-item:nth-child(4) a:hover:before { 
    background: var(--social-icon4); 
  }
  
  .icon-item:nth-child(5) a:hover:before { 
    background: var(--social-icon5); 
  }
@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
.end{
    color:#828282;
    font:Nunito;
    text-align: center;
    font-size: 16px;
}
.projects h2{
    font-size: 34px;
    line-height: 36px;
    padding-bottom: 10px;
    border-bottom: 3px solid #857f72;
    font-family: 'Playfair Display', serif;
    width: 160px;
    text-align: center;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 84%;
}
.progress-bar {
    position: absolute;
    height: 10px;
    width: 0;
    right: 0;
    top: 50%;
    left: 50%;
    border-radius: 200px;
    transform: translateY(-50%) translateX(-50%);
    background: lighten(#2B2D2F, 15%);
  }
  
  svg {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    right: 0;
  }
  
  .check {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

.project-card div{
    width: 48%;
}
.project-card{
    filter: drop-shadow(0px 6px 64px rgba(112, 144, 176, 0.1));
    border-radius: 24px;
    background-color: #fff;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 83%;
    margin-top: 30px;
    height: 524px;
}
.project-card img{
    width: auto;
    height: 100%;
    border-radius: 0 20px 20px 0;
    margin-top: 10px;
}
.project-card h3{
    font-size: 34px;
    line-height: 36px;
    font-family: 'Playfair Display', serif;
}
.project-card p{
    color: #828282;
    font-size: 16px;
    font-weight: 300;
}
.view-btn{
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #000;
    width: 150px;
    height: 43px;
}
.second img{
    border-radius: 20px 0 0 20px !important;
}
.second{
    width: 84%;
    padding-left: 0 !important;
}
.text-div{
    padding-left: 50px;
}
